<a href="https://colab.research.google.com/github/zhuofachen/toolbox/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
data = { 'apples': [3, 2, 0, 1], 'oranges': [0, 2, 7, 2], 'bananas': [1, 2, 3, 4]}
data

{'apples': [3, 2, 0, 1], 'bananas': [1, 2, 3, 4], 'oranges': [0, 2, 7, 2]}

In [7]:
purchases = pd.DataFrame(data)
print(purchases)

   apples  oranges  bananas
0       3        0        1
1       2        2        2
2       0        7        3
3       1        2        4

In [13]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
print(purchases)
purchases.loc['June']
purchases.columns

        apples  oranges  bananas
June         3        0        1
Robert       2        2        2
Lily         0        7        3
David        1        2        4

Index(['apples', 'oranges', 'bananas'], dtype='object')

In [ ]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
df = pd.read_json('purchases.json')
movies_df.info()
movies_df.describe()  # get the information of a dataframe

import sqlite3
connection = sqlite3.connect("database.db")
df = pd.read_sql_query("SELECT * FROM purchases", connection)

In [ ]:
df.isnull()
df.isnull().sum()
#remove nulls 
df.dropna(inplace=True)
revenue.fillna(revenue_mean, inplace=True)
df['genre'].value_counts.head(10) # shows the first 10 counts of the values in column 'genre'
# get correlation between any two variables
df.corr()
# get data from two column
subset = df[['genre', 'rating']]
subset.head()

# .loc - locates by name
# .iloc- locates by numerical index

# conditional selection?
condition = (movies_df['director'] == "Ridley Scott")
condition.head()
movies_df[movies_df['director'] == "Ridley Scott"]
movies_df[movies_df['rating'] >= 8.6].head(3)
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()  # the same as last line

Let's say we want all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]


# we apply function to the column or a new column
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)
# alternatively
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

In [ ]:
# plot on dataframe
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)}) # set font and plot size to be larger

movies_df['rating'].plot(kind="box");
movies_df['rating'].plot(kind='hist', title='Rating');
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');